extends ../main

block titlePage
  title Home


block content
  // Start navbar
  include ../sections/navbar

  // Start Hero-bg
  include ../sections/hero-bg

  // Start trusted
  include ../sections/trusted

  // Start service
  include ../sections/service

  // Start design
  include ../sections/design

  // Start price
  include ../sections/price

  // Start Meeting
  include ../sections/meeting

  // Start Video
  include ../sections/video

  // Start testim
  include ../sections/testim

  // Start about
  include ../sections/about

  // Start contact
  include ../sections/contact

  // Start footer
  include ../sections/footer