section.about.text-center
  .container
    h2.font-weight-bold About The Team
    p.text-muted.p-section Meat our team of specialized marketers and business developers which will help you research new products and launch them in new emerging markets
    .row.row-cols-1.row-cols-md-2.row-cols-lg-4
      .col
        img(src="images/team-member-1.svg", alt="img").img-fluid.mt-5
        h5.font-weight-bold.mt-3 Lacy Whitelong
        p.text-muted Business Developer
        .nav.justify-content-center
          a(href="#").fa.fa-facebook.bg-primary.text-white.rounded-circle
          a(href="#").fa.fa-twitter.bg-primary.text-white.rounded-circle
      .col
        img(src="images/team-member-2.svg", alt="img").img-fluid.mt-5
        h5.font-weight-bold.mt-3 Chris Brown
        p.text-muted Online Marketer
        .nav.justify-content-center
          a(href="#").fa.fa-facebook.bg-primary.text-white.rounded-circle
          a(href="#").fa.fa-twitter.bg-primary.text-white.rounded-circle
      .col
        img(src="images/team-member-3.svg", alt="img").img-fluid.mt-5
        h5.font-weight-bold.mt-3 Sheila Zimerman
        p.text-muted Software Engineer
        .nav.justify-content-center
          a(href="#").fa.fa-facebook.bg-primary.text-white.rounded-circle
          a(href="#").fa.fa-twitter.bg-primary.text-white.rounded-circle
      .col
        img(src="images/team-member-4.svg", alt="img").img-fluid.mt-5
        h5.font-weight-bold.mt-3 Mary Villalonga
        p.text-muted Product Manager
        .nav.justify-content-center
          a(href="#").fa.fa-facebook.bg-primary.text-white.rounded-circle
          a(href="#").fa.fa-twitter.bg-primary.text-white.rounded-circle