section.design
  .container
    .row.row-cols-1.row-cols-md-2.align-items-center.mb-5
      .col
        .box-text.mb-5.mb-md-auto
          h2.font-weight-bold Design And Plan Your Business Growth Steps
          p.text-muted Use our staff and our expertise to design and plan your business growth strategy. Evolo team is eager to advise you on the best opportunities that you should look into
          a(href="#").btn.btn-primary.rounded-pill.customBtn LightBox
      .col
        img(src="images/details-1-office-worker.svg", alt="img")
    .row.row-cols-1.row-cols-md-2.align-items-center
      .col
        img(src="images/details-2-office-team-work.svg", alt="img")
      .col
        .box-text.mb-5.mb-md-auto
          h2.font-weight-bold Search For Optimization Wherever Is Possible
          ul.list-unstyled
            li.text-muted.fa.fa-check Basically we'll teach you step by step what you need to do
            li.text-muted.fa.fa-check In order to develop your company and reach new heights
            li.text-muted.fa.fa-check Everyone will be pleased from stakeholders to employees
          a(href="#").btn.btn-primary.rounded-pill.customBtn LightBox