footer.footer
  .container
    .row.row-cols-1.row-cols-md-3
      .col
        .text
          h3.font-weight-bold About Evolo
          p.text-muted We're passionate about offering some of the best business growth services for startups
      .col
        .links
          h3.font-weight-bold Important Links
          ul.list-unstyled
            li
              | Our business partners 
              a(href="#") startupguide.com
            li
              | Read our 
              a(href="#") Terms & Conditions
              a(href="#") , Privacy Policy
      .col
        .social
          h3.font-weight-bold Social Media
          .nav
            a(href="#").fa.fa-facebook
            a(href="#").fa.fa-twitter
            a(href="#").fa.fa-google-plus
            a(href="#").fa.fa-instagram
            a(href="#").fa.fa-linkedin
    p.text-muted.copyright Copyright © 2020 Inovatik - All rights reserved

