section.hero-bg.text-center
  .container
    .row.row-cols-1.row-cols-md-2.align-items-center
      .col
        .box-text.text-center.text-md-left
          h2.text-primary StartUp Landing 
            span Page Template Free
          p.text-muted Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur labore fuga quas at ut tenetur
          a(href="#").btn.btn-primary.rounded-pill.mb-5.customBtn Discover
      .col
        img(src="images/header-teamwork.svg", alt="img").img-fluid

