section.meeting
  .container
    .row.justify-content-center
      .col-md-5
        h2.font-weight-bold.mb-4 Fill The Following Form To Request Meeting
        p.text-muted.mb-4 Evolo is one of the easiest and feature packed marketing automation apps in the market. Discover what it can do for your business organization right away.
        ul.list-unstyled
          li
            i.fa.fa-check.text-primary.mr-2
            span Automate your marketing 
            | activities and get results today
          li
            i.fa.fa-check.text-primary.mr-2
            span Interact with all your 
            | targeted customers at a personal level
          li
            i.fa.fa-check.text-primary.mr-2
            span Convince them to buy 
            | your company's awesome products
          li
            i.fa.fa-check.text-primary.mr-2
            span Save precious time 
            | and invest it where you need it the most
      .col-md-5
        include form