section.price.text-center
  .container
    h2.font-weight-bold Multiple Pricing Options
    p.text-muted.p-section We've prepared pricing plans for all budgets so you can get started right away. They're great for small companies and large organizations
    .row.row-cols-1.row-cols-lg-3
      .col
        .card.py-3.mt-4
          h2.font-weight-bold.text-uppercase Starter
          p.text-muted Just to see what can be achieved
          p.text-primary.py-4 $199
            small Monthly
          ul.list-unstyled.text-left.mx-auto.py-2
            li.fa.fa-check.mb-3.text-muted Improve Your Email Marketing
            li.fa.fa-check.mb-3.text-muted User And Admin Rights Contro
            li.fa.fa-times.mb-3.text-muted List Building And Cleaning
            li.fa.fa-times.mb-3.text-muted Collected Data Management
            li.fa.fa-times.mb-3.text-muted More Planning And Evaluation
        a(href="#").btn.btn-primary.rounded-pill.customBtn Request
      .col
        .card.py-3.mt-4
          h2.font-weight-bold.text-uppercase Medium
          p.text-muted Very appropriate for the short term
          p.text-primary.py-4 $299
            small Monthly
          ul.list-unstyled.text-left.mx-auto.py-2
            li.fa.fa-check.mb-3.text-muted Improve Your Email Marketing
            li.fa.fa-check.mb-3.text-muted User And Admin Rights Contro
            li.fa.fa-check.mb-3.text-muted List Building And Cleaning
            li.fa.fa-check.mb-3.text-muted Collected Data Management
            li.fa.fa-times.mb-3.text-muted More Planning And Evaluation
        a(href="#").btn.btn-primary.rounded-pill.customBtn Request
      .col
        .card.py-3.mt-4.overflow-hidden.rabone
          h2.font-weight-bold.text-uppercase Complete
          p.text-muted Must have for large companies
          p.text-primary.py-4 $399
            small Monthly
          ul.list-unstyled.text-left.mx-auto.py-2
            li.fa.fa-check.mb-3.text-muted Improve Your Email Marketing
            li.fa.fa-check.mb-3.text-muted User And Admin Rights Contro
            li.fa.fa-check.mb-3.text-muted List Building And Cleaning
            li.fa.fa-check.mb-3.text-muted Collected Data Management
            li.fa.fa-check.mb-3.text-muted More Planning And Evaluation
        a(href="#").btn.btn-primary.rounded-pill.customBtn Request