section.service.text-center
  .container
    h2.font-weight-bold.mb-3 Business Growth Services
    p.text-muted.mb-4.p-section We serve small and medium sized companies in all tech related industries with high quality growth services which are presented below
    .row.row-cols-1.row-cols-md-3
      .col
        .card
          img(src="images/services-icon-1.svg", alt="img", with='200').img-fluid
          .card-body
            h5.font-weight-bold Market Analysis
            p.text-muted Our team of enthusiastic marketers will analyse and evaluate how your company stacks against the closest competitors
      .col
        .card
          img(src="images/services-icon-2.svg", alt="img", with='200').img-fluid
          .card-body
            h5.font-weight-bold Opportunity Scan
            p.text-muted Once the market analysis process is completed our staff will search for opportunities that are in reach
      .col
        .card
          img(src="images/services-icon-3.svg", alt="img", with='200').img-fluid
          .card-body
            h5.font-weight-bold Action Plan
            p.text-muted With all the information in place you will be presented with an action plan that your company needs to follow
