section.testim.text-center
  .container
    .row.row-cols-1.row-cols-md-2.align-items-center
      .col
        img(src="images/testimonials-2-men-talking.svg", alt="img").img-fluid
      .col.row-cols-1
        h2.mt-5.font-weight-bold Testimonials
        .swiper-container.testim-swiper
          .swiper-wrapper
            .swiper-slide
              .box
                img(src="images/testimonial-1.svg", alt="img", height='110', width='110px').img-fluid.rounded-circle
                p.text-muted Love their services and was so amazed with the support and results that I purchased Evolo for two years in a row. They are awesome.
                h4.font-weight-bold Roy Smith - Marketer
            .swiper-slide
              .box
                img(src="images/testimonial-2.svg", alt="img", height='110', width='110px').img-fluid.rounded-circle
                p.text-muted Evolo has always helped or startup to position itself in the highly competitive market of mobile applications. You will not regret using it!
                h4.font-weight-bold Marsha Singer - Developer
            .swiper-slide
              .box
                img(src="images/testimonial-3.svg", alt="img", height='110', width='110px').img-fluid.rounded-circle
                p.text-muted I just finished my trial period and was so amazed with the support and results that I purchased Evolo right away at the special price.
                h4.font-weight-bold Jude Thorn - Designer
          .swiper-button-next
          .swiper-button-prev
