section.trusted.text-center
  h2 Trusted By
  .container
    .swiper-container.trusted-swiper
      .swiper-wrapper
        .swiper-slide
          .img-box
            img(src="images/customer-logo-1.png", alt="")
        .swiper-slide
          .img-box
            img(src="images/customer-logo-2.png", alt="")
        .swiper-slide
          .img-box
            img(src="images/customer-logo-3.png", alt="")
        .swiper-slide
          .img-box
            img(src="images/customer-logo-4.png", alt="")
        .swiper-slide
          .img-box
            img(src="images/customer-logo-5.png", alt="")
        .swiper-slide
          .img-box
            img(src="images/customer-logo-6.png", alt="")

















    //- #trustedCarousel.carousel(data-ride='carousel')
    //-   .carousel-inner
    //-     .carousel-item.active
    //-       img(src="images/customer-logo-1.png", alt="")
    //-     .carousel-item
    //-       img(src="images/customer-logo-2.png", alt="")
    //-     .carousel-item
    //-       img(src="images/customer-logo-3.png", alt="")
    //-     .carousel-item
    //-       img(src="images/customer-logo-4.png", alt="")
    //-     .carousel-item
    //-       img(src="images/customer-logo-5.png", alt="")
    //-     .carousel-item
    //-       img(src="images/customer-logo-6.png", alt="")


