section.video.text-center
  .container
    h2.font-weight-bold.mb-3 Check Out The Video
    .box-video.mb-5.position-relative
      img(src="images/video-frame.svg", alt="").rounded-lg
      a(href="https://www.youtube.com/watch?v=fLCjQJCekTs").stretched-link
      span
    p.text-muted.p-section This video will show you a case study for one of our Major Customers and will help you understand why your startup needs Evolo in this highly competitive market